<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UI Test</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="ui-lightness/jquery-ui-1.8.23.custom.css">
    <% if (typeof build == 'undefined') { %>
      <link rel="stylesheet" href="../src/jquery-ui.inlinedAutocomplete.css">
    <% } else { %>
      <link rel="stylesheet" href="jquery-ui.inlinedAutocomplete.css">
    <% } %>
  </head>

  <body>
    <div class="center-column">
      <textarea class="text_area" placeholder="Use the '@' symbol, and see suggestions..." id="auto-complete"></textarea>
    </div>

    <script type="text/javascript" src="jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="jquery.autosize.js"></script>
    <script type="text/javascript" src="jquery.caretpixelpos.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.8.23.custom.min.js"></script>
    <% if (typeof build == 'undefined' || !build) { %>
      <script type="text/javascript" src="../src/jquery-ui.inlinedAutocomplete.js"></script>
    <% } else { %>
      <script type="text/javascript" src="jquery-ui.inlinedAutocomplete.js"></script>
    <% } %>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>